#### extración del primer dataset

In [335]:
# Importamos todas las librerías 
# [Import libraries]
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import date, timedelta, datetime

In [336]:
# Leemos y hacemos una copia del dataset provisto por el Project Manager 
# [Read and make a copy of the dataset provide by our Project Manager]
flight_accident = pd.read_csv('AccidentesAviones.csv', delimiter=",")

## Análisis exploratorio de datos (EDA) - [Exploratory Data Analysis]

### Veamos cómo se compone el dataset - [Let´s see the data in our dataset]

In [337]:
#Tomamos algunos datos sin orden para ver como se compone. No elegimos .head() porque estan ordenados por fecha
# [We chose some samples to see the data. I didn't use .head() because is order by date, so could misslead the information]
flight_accident.sample(5)

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
2733,2733,"February 02, 1974",2130,"Near Honolulu, HI",Pan American World Airways,?,"San Francisco, CA - Honolulu, HI - Agana, Guam",Boeing B-747,N732PA,19638/3,298,279,19,1,1,0,0,A 16 month old child was asphyxiated by a seat...
3359,3359,"November 21, 1985",?,"Near Sibyak, Indonesia",Military - Indonesian Air Force,?,?,Lockheed C-130H Hercules,A-1322,4898,11,0,11,11,0,11,0,Crashed into Mt. Sibayak.
4056,4056,"November 07, 1996",0929,"Aubusson, France",Jetcom S.A.,?,Geneva - Bordeaux,Cessna 421C Golden Eagle,HB-LRX,421C02172,8,7,1,8,7,1,0,The pilot reported that an engine failed just ...
2547,2547,"June 17, 1971",1430,"Near Arica, Chile",SAVCO,?,Santa Cruz - Arica,Douglas DC-6,CP-926,43043/83,6,4,2,6,4,2,0,The aircraft struck Putre Mountain at an altit...
2378,2378,"December 26, 1968",0615,"Elmendorf Air Force Base, Alaska",Pan American World Airways,?,"San Francisco - Anchorage - Cam Ranh Bay, Vietnam",Boeing 707-321CF,N799PA,?,3,0,3,3,0,3,0,The stickshaker sounded shortly after VR. The ...

In [338]:
# Vamos a eliminar la columna 'Unnamed' ya que parece que se hizo una duplicidad del índice
# [The column ''Unnamed:0' seems to be an error. We take it out]
flight_accident.drop(['Unnamed: 0'], axis=1, inplace=True)

In [339]:
#[Check de dataset]
flight_accident

,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003,"March 28, 2021",1835,"Near Butte, Alaska",Soloy Helicopters,?,Sightseeing Charter,Eurocopter AS350B3 Ecureuil,N351SH,4598,6,5,1,5,4,1,0,The sightseeing helicopter crashed after missi...
5004,"May 21, 2021",1800,"Near Kaduna, Nigeria",Military - Nigerian Air Force,?,?,Beechcraft B300 King Air 350i,NAF203,FL-891,11,7,4,11,7,4,0,"While on final approach, in poor weather condi..."
5005,"June 10, 2021",0800,"Near Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,?,Naypyidaw - Anisakan,Beechcraft 1900D,4610,E-325,14,12,2,12,11,1,0,The plane was carrying military personnel and ...
5006,"July 04, 2021",11:30,"Patikul, Sulu, Philippines",Military - Philippine Air Force,?,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,5125,5125,96,88,8,50,?,?,3,"While attempting to land at Jolo Airport, the ..."
5007,"July 06, 2021",1500,"Palana, Russia",Kamchatka Aviation Enterprise,251,Petropavlovsk - Palana,Antonov An 26B-100,RA-26085,12310,28,22,6,28,22,6,0,The passenger plane crashed into the top of a ...

### Veamos los valores nulos [Let's check the null/na values]

In [340]:
#Como los valores nulos tienen un signo de pregunta los vamos a remplazar con NaN para trabajarlo fácilmente
#[replace '?' with NaN to easy manipulate data]
flight_accident = flight_accident.replace('?', np.NaN)

In [341]:
# Veo % de nulos en todo el dataset
# Let's see % null/na on our dataset
na_ratio = ((flight_accident.isnull().sum() / len(flight_accident))*100).sort_values(ascending = False)
print(na_ratio)

flight_no                 73.522364
HORA declarada            30.031949
route                     15.215655
cn_ln                     13.318690
registration               5.431310
crew_fatalities            4.692492
passenger_fatalities       4.692492
PASAJEROS A BORDO          4.412939
crew_aboard                4.373003
summary                    1.178115
ground                     0.878594
all_aboard                 0.339457
ac_type                    0.259585
OperadOR                   0.199681
cantidad de fallecidos     0.159744
Ruta                       0.099840
fecha                      0.000000
dtype: float64

In [342]:
flight_accident[flight_accident['flight_no'].notna()]

,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
141,"January 16, 1928",NaN,"Solis, Uruguay",Aeropostale,F-AIKG,Buenos Aires - Montevideo,Latecoere 25,F-AIKG,633,2,0,2,2,0,2,0,The wing on the mail plane detached from the a...
217,"January 19, 1930",18:23,"Oceanside, California",Maddux Airlines,7,"Aqua Caliente, Mexico - Los Angeles",Ford 5-AT-C Tri Motor,NC9689,5-AT-046,16,14,2,16,14,2,0,"While en route to Los Angeles, the pilot, flyi..."
247,"March 31, 1931",1045,"Bazaar, Kansas",Trans Continental and Western Air,599,Kansas City - Wichita - Los Angeles,Fokker F10A Trimotor,NC-999,1063,8,6,2,8,6,2,0,"Shortly after taking off from Kansas City, one..."
348,"August 31, 1934",2245,"Amazonia, Missouri",Rapid Air Transport,6,Kansas City - Saint Joseph - Omaha,Stinson SM-6000B,NC11118,5004,5,4,1,5,4,1,0,The plane crashed about 11 miles from St. Jose...
371,"May 06, 1935",0330,"Atlanta, Missouri",Trans Continental and Western Air,6,Los Angeles - Albuquerque - Kanasas City - Wa...,Douglas DC-2-112,NC13785,1295,14,12,2,5,3,2,0,The plane crashed while en route from Albuquer...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,"February 05, 2020",1819,"Istanbul, Turkey",Pegasus Airlines,PC2193,Izmir - Istanbul,Boeing 737-86J,TC-IZK,37742,177,171,6,3,3,0,0,While landing duriing high winds and heavey ra...
4997,"May 22, 2020",1440,"Karachi, Pakistan",Pakistan International Airline,PK8303,Lahore - Karachi,Airbus A320-214,AP-BLD,2274,99,91,8,97,89,8,1,"While landing, the aircraft scraped the runway..."
4998,"August 07, 2020",1914,"Calicut, India",Air India Exppress,IX344,Dubai - Calicut,Boeing 737-8HG,VT-AXH,36323/2108,190,184,6,20,18,2,0,The flight IX344 suffered a runway excursion w...
5001,"January 09, 2021",1440,"Near Jakarta, Indonesia",Sriwijaya Air,SJ182,Jakarta - Pontianak,Boeing 737-524,PK-CLC,27323/2616,62,56,6,62,56,6,0,Sriwijaya Air flight 182 was climbing through ...
5007,"July 06, 2021",1500,"Palana, Russia",Kamchatka Aviation Enterprise,251,Petropavlovsk - Palana,Antonov An 26B-100,RA-26085,12310,28,22,6,28,22,6,0,The passenger plane crashed into the top of a ...

Este es el primer punto donde notamos inconcistencia, ya que algunos vuelos tienen números y otros letras y números. 
[Some problems here, there are some values just with numbers and other with letters+numers.]

Después de investigar un poco, resulta que si bien hay una generalidad en cuanto a cómo se compone el número de vuelo, no es una regla.
Por este motivo, no estamos en posición de sustituir los datos. 

[After some research, we notice that 'Flight_number' cannot be made in a unique way. Therefore, we can't add this information/ (at this stage)]

https://blueskypit.com/2020/03/09/deciphering-the-digits-in-your-flight-number/#:~:text=With%20a%20few%20exceptions%2C%20flights,character%20code%20identifying%20the%20airline.

Además, los números pueden cambiar. Especialemnte si hubo un accidente en ese num de vuelo. Podemos ver algunas explicaciones en estas fuentes:
[Flight numbers can be changed, specially if there were an accident involved. Some deeper explain below]

- https://blueskypit.com/2020/03/09/deciphering-the-digits-in-your-flight-number/#:~:text=With%20a%20few%20exceptions%2C%20flights,character%20code%20identifying%20the%20airline.

- https://aviation.stackexchange.com/questions/33766/why-do-airlines-retire-the-flight-number-after-a-crash

In [343]:
# Podemos chequear que en general los valores que se repiten son número que no parecen representar un num de vuelo real.
# [We can see there are only a few repetition and for what is look like a ramdon number. This column don't bring info]
flight_accident['flight_no'].value_counts()

-        36
1        11
101       9
4         7
901       7
         ..
1036      1
696       1
446       1
631       1
SJ182     1
Name: flight_no, Length: 892, dtype: int64

In [344]:
flight_accident

,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",NaN,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20,NaN,NaN,14,NaN,NaN,0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003,"March 28, 2021",1835,"Near Butte, Alaska",Soloy Helicopters,NaN,Sightseeing Charter,Eurocopter AS350B3 Ecureuil,N351SH,4598,6,5,1,5,4,1,0,The sightseeing helicopter crashed after missi...
5004,"May 21, 2021",1800,"Near Kaduna, Nigeria",Military - Nigerian Air Force,NaN,NaN,Beechcraft B300 King Air 350i,NAF203,FL-891,11,7,4,11,7,4,0,"While on final approach, in poor weather condi..."
5005,"June 10, 2021",0800,"Near Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,NaN,Naypyidaw - Anisakan,Beechcraft 1900D,4610,E-325,14,12,2,12,11,1,0,The plane was carrying military personnel and ...
5006,"July 04, 2021",11:30,"Patikul, Sulu, Philippines",Military - Philippine Air Force,NaN,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,5125,5125,96,88,8,50,NaN,NaN,3,"While attempting to land at Jolo Airport, the ..."
5007,"July 06, 2021",1500,"Palana, Russia",Kamchatka Aviation Enterprise,251,Petropavlovsk - Palana,Antonov An 26B-100,RA-26085,12310,28,22,6,28,22,6,0,The passenger plane crashed into the top of a ...

In [345]:
# Por lo mencionado anteriormente vamos a eliminar la columna del
# [For all the explain above, we will remove the fligh_no column]
flight_accident.drop(['flight_no'], axis=1, inplace=True)

In [365]:
#check 
flight_accident.head(3)

,fecha,HORA declarada,Ruta,OperadOR,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,NaN,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",NaN,"Juvisy-sur-Orge, France",NaN,Air show,Wright Byplane,SC1,NaN,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,NaN,NaN,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...

In [366]:
#Standaricemos la fecha y hora para poder usarla
# [Standarize the date and time to manipulate]
flight_accident['fecha']=pd.to_datetime(flight_accident['fecha']).dt.strftime('%d/%m/%Y')

In [371]:
#check 
flight_accident.sample(3)

,fecha,HORA declarada,Ruta,OperadOR,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
2666,19/02/1973,1006,"Prague, Czechoslovakia",Aeroflot,Moscow - Praha,Tupolev TU-154,CCCP-85023,023,100,87,13,66,62,4,0,The plane struck the ground short of the runwa...
2421,03/08/1969,NaN,"Uli , Nigeria",Canairelief Air,NaN,Lockheed L-1049H Super Constellation,CF-NAJ,4828,4,0,4,4,0,4,0,The cargo plane crashed while attempting to land.
4331,17/05/2001,0745,"Near Sari, Iran",Faraz Qeshm Airlines,Tehran - Gorgan,Yakovlev YAK-40,EP-TQP,9740856,30,25,5,30,25,5,0,The aircraft crashed into mountains about 12 m...

In [372]:
# Remplazamos los valores nulos por '0000'
# [Replace nan with '0000' so we can manage]
flight_accident['HORA declarada'] = flight_accident['HORA declarada'].replace(np.nan, '0000')

In [373]:
# Remplazar cualquier cosa que no sea num. por espacios (usamos Regex :) )
# [Replace anything that is not a number for '' with Regex]
flight_accident['HORA declarada'] = flight_accident['HORA declarada'].astype(str).str.replace('[^0-9]', '', regex = True)

In [374]:
# Cambiamos el formato de la hora
#[Change format time]
flight_accident['HORA declarada'] = pd.to_datetime(flight_accident['HORA declarada'], format='%H%M').dt.strftime('%H:%M')

In [377]:
#check
flight_accident['HORA declarada']

0       17:18
1       00:00
2       06:30
3       00:00
4       18:30
        ...
5003    18:35
5004    18:00
5005    08:00
5006    11:30
5007    15:00
Name: HORA declarada, Length: 5008, dtype: object

In [378]:
#antes de continuar vamos a renombrar las columnas para que tengan mas sentido
# [before to proceed, we are going to rename some columns to make more sense]

flight_accident = flight_accident.rename(columns={'fecha':'date',
                                   'HORA declarada':'time',
                                   'Ruta':'location',
                                   'OperadOR': 'operator',
                                   'PASAJEROS A BORDO': 'passangers_aboard',
                                   'cantidad de fallecidos': 'total_fatalities'})

In [379]:
flight_accident.head(2)

,date,time,location,operator,route,ac_type,registration,cn_ln,all_aboard,passangers_aboard,crew_aboard,total_fatalities,passenger_fatalities,crew_fatalities,ground,summary
0,17/09/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,NaN,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,07/09/1909,00:00,"Juvisy-sur-Orge, France",NaN,Air show,Wright Byplane,SC1,NaN,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...

In [390]:
# Veamos todos los valores referidos al num de construccion/fusejale
# [Let's check all the values for fuselage/construction number]
flight_accident['cn_ln'].unique().tolist()

['1',
 nan,
 '77',
 '31',
 '20',
 '178',
 'HP-25',
 '57',
 'R-38',
 '160',
 '6116',
 'HP-43',
 '4',
 '555',
 '25',
 '117',
 '14',
 '6083-130',
 '15',
 '28',
 '29',
 '1535',
 '684',
 '36',
 '590',
 '202',
 '1502',
 '209',
 '168',
 '665',
 '1908',
 '5307',
 '4759',
 '660',
 '2',
 '1554',
 'W10/3',
 '198',
 '4938',
 '86',
 'A28',
 '1567',
 '591',
 '4993',
 '405',
 '4840',
 '4899/0501',
 '075',
 '229',
 '798',
 'PO641',
 '227',
 '23-1',
 '39',
 '633',
 '240',
 '162',
 '891',
 '62/6943',
 '893',
 '671',
 '4-AT-001',
 '742',
 '439',
 '628',
 '760',
 '9',
 '1533 (KLM-1)',
 '4-AT-26',
 '5/4207',
 '5',
 '809',
 '1531',
 '159',
 '658',
 '4381.9',
 '80',
 '46',
 '525',
 '650',
 '4-AT-47',
 '83',
 '4-AT-045',
 '3005',
 '653',
 '3359-40',
 '111',
 '102',
 '053',
 '674',
 '800',
 '4-AT-41',
 '617',
 '4-AT-010',
 '1604',
 '07',
 '1010',
 '217',
 'W10/4',
 '5-AT-002',
 '151',
 '524',
 '108',
 '1571',
 '067',
 '239',
 '704',
 '1024',
 'S748',
 '232',
 '097',
 '911',
 '10519',
 '1006',
 '622',
 '47',
 '5-AT-046',
 '691',
 '963',
 '41',
 '21/6844',
 '634',
 '918',
 '5-AT-033',
 '44',
 '087',
 '5-AT-050',
 '1165',
 'R-101',
 '443',
 '2021',
 '120',
 'W8-7',
 '921',
 '1930',
 '1422',
 'D-36',
 '84',
 '241',
 '1063',
 '442',
 '1044',
 '2611',
 '1057',
 '5096',
 '064',
 '177',
 '154',
 '3',
 '18',
 '5AT-029',
 '056',
 '1428',
 '334',
 '107',
 '2110',
 '897',
 '1419',
 '049',
 '5226',
 '1088',
 '5034',
 '902',
 '161',
 '917',
 '5016',
 '1027',
 '7120',
 '1054',
 '1042',
 '1155',
 '5-AT-062',
 '836',
 '1009',
 '2052',
 '905',
 '696',
 '2020',
 '5-AT-037',
 '892',
 '1372',
 '1168',
 '4039',
 '5-AT-098',
 '184',
 'AW-363',
 '2737',
 '1701',
 '127',
 '5-AT-005',
 '1685',
 '04',
 '1772',
 '03',
 '1705',
 '2735',
 '528',
 '01',
 '1739',
 '925',
 '6606',
 '5-AT-066',
 '8',
 '22',
 '5-AT-055',
 '176',
 '033',
 '53',
 '662',
 '5004',
 '2301',
 '330',
 '5031',
 '2311',
 '2008',
 '123',
 '4-AT-63',
 '1317',
 '4051',
 '45',
 '6031',
 '7243-2',
 '5242',
 '73',
 '1295',
 '4-AT-49',
 '1153',
 '5050',
 '5-AT-112/5-AT-006',
 '5358',
 '1335',
 '6063',
 '2779',
 '15004',
 '9103',
 '195',
 '4202',
 '1695',
 '2312',
 '1698',
 '2033',
 'G-2',
 '1704',
 '906',
 '191',
 'S-759',
 '6-926',
 '7013',
 '30002',
 '915',
 'S-752',
 '1307',
 '4018',
 '19',
 '05',
 '1016',
 '5-AT-012',
 '9112',
 '1247',
 '4204',
 '359',
 '5044',
 '2204',
 '895',
 '5359',
 '4211',
 '4077',
 'A-19/4',
 '169',
 '2324',
 'S-758',
 '5025',
 '301',
 'P-71-1',
 '129',
 '170',
 '174',
 '4700-1',
 '5506',
 '5498',
 '5300',
 '5078',
 '1358',
 '1957',
 '1258',
 '1018',
 '1737',
 '1007',
 '1696',
 '1913',
 '1926',
 '715',
 'S-818',
 '1256',
 '4207',
 'D-LZ129',
 '916',
 '4319',
 '1055',
 '1585',
 '30014',
 '4305',
 '1413',
 '1289',
 '1370',
 '9669',
 'S-820',
 '1940',
 '1914',
 '1048',
 '1830',
 '5827',
 '4023',
 '4063',
 'S-817',
 '4213',
 '11',
 '5777',
 '1407',
 '5212-S',
 '297',
 '4040',
 '1299',
 '4031/12',
 '02',
 '124',
 '1092',
 '1439',
 '5453',
 '1956',
 '546',
 '7055',
 '1402',
 '15013',
 '1305',
 '1432',
 'AW-785',
 '556',
 '4053',
 '1043',
 '30040',
 '4024',
 '1424',
 '94001',
 '1369',
 '410',
 '6053',
 '255',
 '5928',
 '1566',
 '2316',
 '1475',
 '4914',
 'S839',
 '1907',
 '1041',
 '1481-1',
 '1329',
 '4042',
 '1408',
 '1418',
 'S-812',
 '618',
 '5210',
 '5815',
 '1994',
 '1253',
 '7372',
 'S-821',
 '1360',
 '6355',
 '086/0951',
 '5942',
 '4316',
 '1102',
 '6048',
 '5800',
 '2142',
 '75',
 '5854',
 '1444',
 '34017',
 '1415',
 '32031',
 'HP42/1',
 '30024',
 '1484',
 '5494',
 '1366',
 '1135',
 '1986',
 '2188',
 '1137',
 '1973',
 '4008',
 '1925',
 '5689',
 '900010',
 '2175',
 '32035',
 '34019',
 '32013',
 '5523',
 '5-AT-101',
 '1501',
 '3204',
 '5751',
 '2034',
 '6076',
 '1985',
 '4158',
 '2083',
 '2088',
 '12',
 '4206',
 '7172',
 '2124',
 '2207',
 '61',
 '22182',
 'S-815',
 '3295',
 '414-1933',
 '1081',
 'S-850',
 '2309',
 'S-842',
 '1965',
 '6',
 '1978',
 '2129',
 '32052',
 '1976',
 '414-6463',
 '414-1649',
 '403',
 '1410',
 'S-885',
 '2081',
 '4401',
 '505',
 '7208',
 '1555',
 '1949',
 '1841703',
 '1900',
 '5610',
 '1504',
 'S-873',
 '3114',
 '204',
 '557',
 '4124',
 '1990',
 '6149',
 '2085',
 'S-844',
 '1590',
 '9374',
 '9178',
 '2072',
 '1552',
 '4212',
 '001',
 '5459',
 '2133',
 '11656',
 '4923',
 '1588',
 '1031',
 '2132',
 '7371',
 '2086',
 '13893',
 '640610',
 '2166',
 '6561',
 '640996',
 '2095',
 '112969',
 '19368',
 '19498',
 '1008',
 '18400',
 '13859',
 '7489',
 '12905',
 '9514',
 '4201',
 '10276',
 '2491',
 '2114',
 '641039',
 '12880',
 '20204',
 '2113',
 '200021',
 '641382',
 'S-877',
 '640608',
 '640601',
 '2251',
 '9941',
 '19512',
 '2994',
 '1849106',
 '550',
 '558',
 '2215',
 '9130',
 '4728',
 '13390',
 '14848/26293',
 '2149',
 '6820',
 '2138',
 '27064',
 '20477',
 '2262',
 '10017',
 '4513',
 '9834',
 '2221',
 '27269',
 '33235',
 '27049',
 '32738',
 '2310',
 '90030',
 '6812',
 '2235',
 '87-8742',
 '1723',
 '4306',
 '2075',
 '4137',
 '25365',
 '34277',
 '14554/25999',
 '30638',
 '2265',
 '22414',
 '16127/32875',
 '14804/26249',
 '24',
 '10097',
 '299',
 '12909',
 '35981',
 '10225',
 '10175',
 '26640',
 '16925/34183',
 '16090/32838',
 '2380',
 '1999',
 '4131',
 '33171',
 '3254',
 '16277/33025',
 '2147',
 '26',
 '2203',
 '6013',
 '1178',
 '12094',
 '19626',
 '27304',
 '22181',
 '25291',
 '14641/26086',
 'AAC020',
 '2040',
 '32982',
 '33219',
 '12348',
 '10103',
 '1186',
 '4542',
 '1272',
 '11714',
 '42975',
 '9214',
 '1300',
 '12544',
 '4549',
 '42986',
 '16091/32839',
 '4087',
 '27290',
 '10471',
 'AAC281',
 '12971',
 '15659/27104',
 'AAC311',
 '284',
 '4873',
 '11662',
 '20122',
 '20590',
 '113',
 '22427',
 '25436/13991',
 '9249',
 '1365',
 '42-68715',
 '9378',
 '2026',
 '4805',
 '4315',
 '34373',
 '12014',
 '3106',
 '3274',
 '182607',
 '4829',
 '19979 / 9503',
 '13508',
 '25479',
 '13806/25251',
 '13873/25318',
 '18386',
 '2944',
 '10439',
 '41003',
 '15129/26574',
 '14874/26319',
 '15131/26576',
 '4792',
 '20488',
 '2450',
 'MW198',
 '1303',
 '9066',
 '18-2248',
 '18-2374',
 '2029',
 '11936',
 '18324',
 '10658',
 '13389',
 '18380',
 'AAC136',
 '3112',
 '2045',
 '091',
 '9887',
 'AAC323',
 '1219',
 '1280',
 '19639',
 '19559',
 '18423801',
 '2935',
 'SH-38C',
 'SH-48C',
 '10314/DC45',
 '12788',
 '42875/17',
 '42930/45',
 '10317',
 '12819',
 '43046/92',
 'AAC401',
 '2028',
 '12792',
 '18423509',
 '6065',
 '184 270 09',
 '14552/25997',
 '7453',
 '10677',
 '15950/32698',
 '30 049',
 '4175',
 '42972',
 '148',
 '12968',
 '0275',
 '4735',
 '4092',
 '16850/33598',
 '1349',
 '2533',
 '16380/33128',
 '7330',
 '4312',
 '12527',
 '20048',
 'AAC223',
 '43154',
 '4185',
 '18390',
 '35966/DO360',
 '11658',
 '6252',
 '166',
 '42935',
 '2058',
 '4146460',
 '3704',
 '04058',
 '42932',
 '6341',
 '2938',
 '14003/25448',
 '17054/34321',
 '6675',
 '42871/12',
 '16992/34254',
 '43119/111',
 '9158',
 '19113',
 '6246',
 'SH-02C',
 '22355',
 '37031',
 '06',
 '16383/33131',
 '19985',
 '9165',
 '12420',
 '9999',
 '18423902',
 'SH-52C',
 '8302517',
 '1128',
 '1401',
 '10406',
 '11476',
 '11800',
 '2003',
 '6538',
 '12775',
 '4396',
 '13807',
 '12894',
 '18348',
 '4256',
 '1496',
 '12587',
 '10181',
 '1301',
 '13777',
 '19584',
 '14145/25590',
 '20208',
 '2528 /?',
 '3708',
 '7464',
 '199',
 '15374/26819',
 '13308',
 '20576',
 '2194',
 '1316',
 '2382',
 '16743/33491',
 '93013208',
 '12162',
 '30506',
 '2541',
 '9350',
 '2936',
 '2558',
 '22463',
 '83012811',
 '2260 /',
 '33100',
 '9971',
 '12739',
 '15901/32649',
 '3076',
 '12355',
 '14600/26045',
 '4518',
 '11725',
 '7445',
 '2939',
 '2546',
 '18365 /',
 '4304',
 '13462',
 '42895/58',
 '10391',
 '4241',
 '9201',
 '22354',
 '22347',
 '2556',
 '4841',
 '11721',
 '10241',
 '3089',
 '34',
 '10046',
 '12628',
 '10574',
 '13396',
 '12725',
 '9134',
 '12782',
 '1417',
 '19423',
 '12826',
 '225',
 '10809',
 '4314',
 '10707',
 '32973',
 '10194',
 '22582',
 '9156',
 '22496',
 '1546',
 '42937',
 '42990',
 '10270',
 '42910',
 '35971',
 '13824',
 '20359',
 '13769',
 '16023/32771',
 '2962',
 '12738',
 '18-2133',
 '93013302',
 '12454',
 '42858/9',
 '16538/33286',
 '2636',
 '2011',
 '9813',
 '10624',
 '13311',
 '1321',
 '10562',
 '20245',
 '12186',
 '155',
 '2506',
 '9161',
 '10518',
 '19005',
 '19711',
 '15992/32740',
 '14037/25482',
 '13572',
 '3084',
 '16100/32848',
 '14604/2604',
 '20543',
 '17097/34364',
 '4432',
 '27322',
 '12855',
 '13027',
 '04017',
 '15782/32530',
 '43102',
 '9144',
 '10',
 '12482',
 '42992',
 '49',
 '7400',
 '10396',
 '9073',
 '7341',
 '43173',
 '184 341 04',
 '12291',
 '19361',
 '20229',
 '25559',
 '10368',
 '1927',
 '134',
 '17011/34274',
 '10131',
 '42979',
 '10062',
 '2046',
 '316',
 '43144/155',
 '350',
 '20662',
 '14822/26267',
 '5003',
 '19634',
 '10327',
 '6327',
 '26488',
 '13083',
 '42971',
 '9154',
 '43260/180',
 '1559/27036',
 '15985/32733',
 '15970',
 '13853/25298',
 '33346',
 '14007/25452',
 '6891',
 '16224',
 '400',
 '13014',
 '9160',
 '10171',
 '18438505',
 '93013112',
 '7352',
 '13265',
 '10512',
 '2077',
 '4999',
 '22572',
 '18421601',
 '30466',
 '22485',
 '15850/32598',
 '13859/25304',
 '106',
 '16699/33447',
 '27279',
 '054',
 '13450',
 '43055/37',
 '142',
 '19160',
 '3284',
 '43',
 '9754',
 '4695',
 '43111/102',
 '2005',
 '13808',
 '22464',
 '9164',
 '13628',
 '10503',
 '22466',
 '15939/12',
 '13405',
 '12148',
 '42954',
 '16894/34151',
 '446',
 'HP-81/15',
 '9001',
 '2593',
 '15939',
 '20187',
 'HP-81/7',
 '1322',
 '9945',
 '30054',
 '6177',
 '32934',
 '16733',
 '10498',
 '10528',
 '464096',
 '10319',
 '43238',
 '33486',
 '7391',
 '9692',
 '262',
 '18350',
 '22395',
 '4308',
 '1304',
 '15283/26728',
 '10290',
 '43057/73',
 '06014',
 '22400',
 '082',
 '19105',
 '10814',
 '36076',
 '14004',
 '090',
 '2568',
 '19149',
 '20432',
 '43823',
 '06008',
 '506',
 '13716',
 '21984',
 '2224',
 '20433',
 '125',
 '18429005',
 '30103',
 '14633/26078',
 '2617',
 ...]

In [ ]:
# Eliminamos esa columnas ya la infor no nos resulta útil
#[Drop that colunm as the informations is not useful at all]